.contact-title {
    font-size: 40px;
    margin: 25px 0;
    font-weight: normal;
    text-align: center;
}

.contact-icon {
    max-width: 45px;
}

.contact-info-header {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.contact-info-header img{margin-bottom: 18px;}

.contact {
    max-width: 880px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.contact-info {
    padding: 21px 85px;
    background: #ffffff;
}

.contact-input {
    font-family: "FiraGO", sans-serif;
    font-size: 16px;
    color: rgba(4,15,22,.65);
    padding: 0 10px;
    width: 100%;
    height: 36px;
    border: 1px solid rgba(112,112,122,.61);
    border-radius: 4px;
    margin-bottom: 16px;
    outline: none;
}

.contact-input.small {
    max-width: 420px;
}

.contact-input:focus {
    border: 1px solid rgba(112,112,122,.61);
}

.contact-form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "FiraGO", sans-serif;
}

.contact-textarea {
    min-height: 190px;
    padding: 10px;
}

.contact-det {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px 0;
}
.contact-det-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 35px;
}

.contact-det-item img {
    margin-right: 25px;
}

.mb-40 {margin-bottom: 40px}


@media screen and (max-width: 992px) {
    .contact-info {
        padding: 21px 15px;
    }
    .contact-det {flex-direction: column; align-items: flex-start;margin: 20px 0}
    .contact-det-item{margin-bottom: 15px}
}
