/* COVER */
.main-cover {
    position: relative;
    margin-bottom: 40px;
}

.main-cover-title {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    width: 680px;
}

.main-cover-title:after {
    content: '';
    display: block;
    width: 5000px;
    height: 1px;
    background: #ffffff;
    position: absolute;
    bottom: -15px;
    right: 0;
}

.found {
    margin-bottom: 40px;
}

.found-url {
    font-size: 40px;
    color: #000000;
}

.selected {
    background: lime;
}

/* MEDIA */
@media screen and (max-width: 992px) {
    .main-cover-title {
        top: 15px;
        width: 100%;
        font-size: 25px;
    }
    .found {
        flex-direction: column;
        padding: 0 15px;
    }
    .found-url {margin-bottom: 10px;}
    .main-cover-title:after {right: 35px;}
}
