.pr-cover-title {
    font-size: 40px;
    margin-top: 90px;
    margin-left: 30px;
    padding-bottom: 8px;
    font-weight: normal;
}
.pr-cover-title.foundation {
    text-align: center;
}
.pr-cover-line {
    width: 2500px;
    height: 1px;
    background: black;
    margin-left: 33px;
}
.pr-cover {
    margin-bottom: 55px;
}
@media screen and (max-width: 992px) {
    .pr-cover-line {
        width: 100%;
        margin-left: 0;
        margin-bottom: 20px;
    }
    .pr-cover-title {
        margin: 20px 0;
        padding: 0 15px;
        text-align: center;
    }
    .pr-cover {
        margin-bottom: 15px;
    }
}
