* {padding: 0;margin: 0;text-decoration: none;list-style: none;box-sizing: border-box;}

body {background: url("./assets/images/bg.png") no-repeat center; background-size: cover; overflow-x: hidden; padding-top: 80px}

button:focus {outline: 0}

/* TODO DELETE */

#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* flex */

.flex {display: flex;}
.flex-wrap {flex-wrap: wrap}
.flex-column {flex-direction: column}
.justify-between {justify-content: space-between}
.justify-around {justify-content: space-around}
.justify-center {justify-content: center}
.align-center {align-items: center}

/* size */
.w-100 {width: 100%}

/*Typo*/
.underline {
    text-decoration: underline;
}

/* .container */
.container {
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
