* {padding: 0;margin: 0;text-decoration: none;list-style: none;box-sizing: border-box;}

body {background: darkgrey}

button:focus {outline: 0}

/* TODO DELETE */

#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* flex */

.flex {display: flex;}
.justify-between {justify-content: space-between}
.align-center {align-items: center}

/* size */
.w-100 {width: 100%}
/* .container */
.container {
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
