body {background: darkgrey}

/* flex */

.flex {display: flex;}
.justify-between {justify-content: space-between}
.align-center {align-items: center}


/* .container */
.container {
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
