@font-face {
  font-family: FiraGO;
  src: url("./assets/fonts/FiraGO-Regular.woff");
}
body {
  margin: 0;
  font-family: 'FiraGO', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
